.container {
  margin: auto;
  width: 600px;
}

ul {
  list-style: none; 
  margin: 0 auto;
  display: flex;
  padding-left: 0;
}

.head {
  background: #F2F2F2;
  border: 2px solid #D8D8D8;
  border-radius: 5px;
}

a {
  text-decoration: none; 	
  padding: 1em;
  display: block;
  color: black;
  background: #848484;
}

a:hover {background: white}

.logo {
  background: white;
  font-family: 'Lobster', sans-serif;
  float:left;
  padding: 1em 1em 0.9em 1em;
  }
  
#slides{
  position: relative;
  height: 150px;
  padding: 0px;
  margin: 0px 0 2em;
  list-style-type: none;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}

.showing{
  opacity: 1;
  z-index: 2;
}

.slide:nth-of-type(1){
  background: red;
}
.slide:nth-of-type(2){
  background: orange;
}
.slide:nth-of-type(3){
  background: green;
}

.say {
	color: grey;
}

#result_text {
	width: 100%;
	height: 150px;
}


input[type=text], input[type=submit], select, #result_text{  
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 0;
}

input[type=submit] {
	background-color: #1E90FF;
	font-weight: bold;
	width: 120px;
	margin: 0 0 1rem;
}

input[type=text] {
	width: 300px;
}

select {
	width: 150px;
}

