.features-text-title {
  margin-left: 192px;
  margin-top: 30px;
}

.features-title {
  width: 473px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  line-height: 50px;
  font-size: 40px;
  letter-spacing: -1px;
  color: #222222;
}

.features-text {
  width: 475px;
  font-family: "Fira Sans", sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #222222;
  opacity: 0.7;
  margin-top: 30px;
}

@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .features-text-title {
    margin-left: 50px;
  }

  .features-title {
    width: 80%;
    text-align: center;
  }

  .features-text {
    width: 80%;
    text-align: center;
  }
}

@media only screen and (max-width: 960px) {
  .features-text-title {
    margin: 0;
  }

  .features-title {
    width: 100%;
    text-align: center;
  }

  .features-text {
    width: 100%;
    text-align: center;
  }
}
