.menu {
  width: 34px;
  height: 23px;
  cursor: pointer;
}

.visibility-icon-menu {
  visibility: hidden;
}

.container-toggle {
  position: fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  background-color: black;
  right: -250px;
  transition: right 1s;
  z-index: 100;
}

.exit-menu {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.container-menu {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-href {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.open-menu {
  right: 0;
}

@media only screen and (max-width: 960px) {
  .container-toggle {
    width: 100%;
    right: -100%;
  }

  .open-menu {
    right: 0;
  }
}