.services-menu-items {
  margin-top: -21px;
  margin-left: 60px;
}

@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .services-menu-items {
    margin-left: 0;
  }
}

@media only screen and (max-width: 960px) {
  .services-menu-items {
    margin: 0;
  }
}
