.container-features {
  margin-top: 180px;
  display: flex;
}

.features-placeholder {
  margin-left: -125px;
}

@media only screen and (max-width: 960px) {
  .container-features {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px;
  }

  .features-placeholder {
    display: none;
  }
}
