.container-about {
    display: flex;
    justify-items: auto;
    margin-top: 137px;
  }

  @media only screen and (max-width: 960px) {
    .container-about {
        margin-left: 5%;
        margin-right: 5%;
        display: block;
        margin-top: 20px;
      }
  }