.footer-submenu-href {
  font-family: "Fira Sans", sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.4;
  text-decoration: none;
}

@media only screen and (max-width: 960px) {
  .footer-submenu-href {
    font-size: 16px;
  }
}
