.footer-social {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 120px;
}

.social-img {
  opacity: 0.4;
}

.for-about-page {
  fill: black;
  opacity: 1;
}

@media only screen and (max-width: 960px) {
  .footer-social {
    margin: 20px auto 0 auto;
  }

  .about-none {
    display: none;
  }
}
