.about-title-text {
    margin-left: 90px;
}

.about-title {
    width: 540px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    line-height: 50px;
    font-size: 40px;
    letter-spacing: -1px;
    color: #222222;
    margin-top: 40px;
}

.about-text {
    width: 445px;
    font-family: 'Fira Sans', sans-serif;
    line-height: 28px;
    font-size: 18px;
    color: #222222;
    opacity: 0.7;
    margin-top: 30px;
}

.margin-for-about {
    margin-top: 20px;
}

@media only screen and (min-width: 961px) and (max-width: 1200px){
.about-title {
    width: 85%;
    margin-top: 0;
}

.about-text {
    width: 80%;
}

}

@media only screen and (max-width: 960px) {
.about-title {
    width: 100%;
    text-align: center;
}
    
.about-title-text {
    margin-left: 0;
    text-align: center;
}

.about-text {
    width: 100%;
    text-align: center;
}
}