.container,
.container-footer {
  margin: auto;
  width: 100%;
  max-width: 960px;
}

.container-header-mobile {
  display: none;
}

.footer-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  cursor: default;
}

footer {
  background: #515151;
  margin-top: 135px;
}

.container-footer {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-logo-menu-form {
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  color: #ffffff;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 336px;
}

.footer-menu-href {
  font-family: "Fira Sans", sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.footer-forms {
  display: flex;
}

.footer-input {
  width: 140px;
  height: 40px;
  border: 0;
  font-family: "Fira Sans", sans-serif;
  line-height: 28px;
  font-size: 18px;
  background: #f5f4ff;
  text-indent: 15px;
}

.footer-button {
  width: 80px;
  height: 42px;
  background: #c6b393;
  border: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 4px;
  color: #ffffff;
  margin-left: 18px;
}

.footer-divider {
  opacity: 0.2;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-top: 40px;
}

.footer-submenu-social {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}

.footer-submenu {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.footer-submenu-href {
  font-family: "Fira Sans", sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.4;
  text-decoration: none;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 120px;
  opacity: 0.4;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) and (max-width: 1200px) {
}

/* Tablet Styles */
@media only screen and (max-width: 960px) {
  .footer-logo,
  .footer-forms {
    display: none;
  }

  .footer-logo-menu-form {
    justify-content: center;
  }

  .footer-submenu-social {
    flex-direction: column;
    margin: 0;
  }

  .footer-social {
    margin: 20px auto 0 auto;
  }

  .footer-submenu {
    margin: 20px auto 0 auto;
    width: 300px;
  }

  .footer-submenu-href {
    font-size: 16px;
  }

  .container-footer {
    height: 150px;
    margin-top: 50px;
  }

  .footer-divider {
    margin-top: 20px;
  }

  footer {
    margin: 0;
  }
}
