.container, .container-footer {
  margin: auto;
  width: 100%;
  max-width: 960px;
}

.container-header-mobile {
  display: none;
}

.footer-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  cursor: default;
}

.container-toggle {
  position: fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  background-color: black;
  right: -250px;
  transition: right 1s;
  z-index: 100;
}

.container-menu {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-href {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.exit-menu {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.open-menu {
  right: 0;
}

.container-slider {
  margin-top: 60px;
  display: flex;
  justify-items: auto;
}

.slider-title {
  width: 474px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  line-height: 70px;
  font-size: 60px;
  letter-spacing: -1px;
  color: #151515;
  padding-top: 50px;
}

.slider-text {
  width: 474px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #222222;
  opacity: 0.7;
  padding-top: 30px;
}

.blue-button, .our-works-button {
  width: 189px;
  height: 50px;
  background: #4737FF;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 56px;
  cursor: pointer;
}

.text-button {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  align-self: center;
}

.placeholder {
  width: 665px;
  height: 840px;
}

.loader {
  width: 346px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 190px;
}

.loader-text {
  font-family: 'Fira Sans', sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #222222;
}

.loader-bg {
  width: 278px;
  height: 2px;
  background: #D7D4D4;
}

.loader-active {
  width: 139px;
  height: 2px;
  background: #C6B393;
}

.video {
  position: absolute;
  width: 400px;
  height: 310px;
  top: 60%;
  left: 45%;
  background: url("/images/placeholder-video.png");
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 100;
  transition: 1s ease-out;
}

.button-play {
  width: 65px;
  height: 65px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.video-youtube {
  position: absolute;
  top: 60%;
  left: 45%;
  display: flex;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  transition: 1s;
}

.exit-video {
  color: black;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: 900;
}

.for-video {
  opacity: 0;
  z-index: 99;
  visibility: hidden;
}

.for-video-youtube {
  opacity: 1;
  z-index: 100;
  visibility: visible;
  transition: all 1s linear;
}

.container-about {
  display: flex;
  justify-items: auto;
  margin-top: 137px;
}

.about-title, .services-text {
  width: 540px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  line-height: 50px;
  font-size: 40px;
  letter-spacing: -1px;
  color: #222222;
  margin-top: 40px;
}

.about-text {
  width: 445px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #222222;
  opacity: 0.7;
  margin-top: 30px;
}

.margin-for-about {
  margin-top: 20px;
}

.about-user {
  display: flex;
  justify-items: auto;
  width: 285px;
  margin-top: 61px;
}

.about-name, .testimonials-name {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  font-size: 22px;
  color: #222222;
  margin-left: 30px;
}

.about-position, .testimonials-position {
  height: 21px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #222222;
  opacity: 0.7;
  margin-left: 30px;
}

.container-slider-item2, .about-title-text {
  margin-left: 90px;
}

.services-logo, .our-works-logo, .testimonials-logo, .clients-logo {
  width: 160px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.7;
  margin-top: 142px;
}

.services-text-menu {
  display: flex;
}

.services-menu {
  display: flex;
  margin-left: 0;
  margin-top: 40px;
  width: 409px;
}

.services-menu-items {
  margin-top: -21px;
  margin-left: 60px;
}

.menu-item {
  list-style-type: none;
  width: 189px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #222222;
  opacity: 0.5;
  margin-top: 21px;
}

.services-slider-nav {
  width: 100%;
  max-width: 825px;
  margin: 80px auto;
}

.services-placeholder {
  width: 100%;
}

.siema {
  margin: 1rem 0;
}

.services-navigation, .testimonials-navigation {
  width: 125px;
  height: 50px;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  cursor: pointer;
}

.services-navigation-left, .services-navigation-right, .testimonials-navigation-left, .testimonials-navigation-right {
  width: 50px;
  height: 50px;
  background: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-features {
  margin-top: 180px;
  display: flex;
}

.features-placeholder {
  margin-left: -125px;
}

.features-text-title {
  margin-left: 192px;
  margin-top: 30px;
}

.features-title, .our-works-title, .clients-title {
  width: 473px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  line-height: 50px;
  font-size: 40px;
  letter-spacing: -1px;
  color: #222222;
}

.features-text {
  width: 475px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #222222;
  opacity: 0.7;
  margin-top: 30px;
}

.ultimate-result, .minimal-design {
  width: 270px;
  display: flex;
  align-items: center;
  margin-top: 62px;
  justify-content: space-between;
}

.ultimate-result-text, .minimal-design-text {
  width: 190px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
}

.minimal-design {
  margin-top: 30px;
}

.our-works-title-switchers {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 50px;
}

.our-works-switchers {
  display: flex;
  align-items: center;
}

.our-works-switcher {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.3;
  margin-left: 24px;
}

.our-works-placeholders-1, .our-works-placeholders-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.our-works-placeholder {
  width: 300px;
  height: 400px;
  transition: 1s;
  cursor: pointer;
}

.our-works-placeholder:hover {
  width: 370px;
  height: 450px;
  margin-top: -25px;
}

.our-works-text-button {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
}

.our-works-text, .clients-text {
  width: 730px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #222222;
  opacity: 0.7;
}

.our-works-button {
  margin-top: 0;
}

.container-testimonials {
  display: flex;
  justify-content: space-between;
  margin-top: 248px;
}

.testimonials-logo {
  margin-top: 0;
  width: 190px;
}

.testimonials-text {
  width: 540px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  line-height: 50px;
  font-size: 40px;
  letter-spacing: -1px;
  color: #222222;
}

.testimonials-name, .testimonials-position {
  margin-left: 0;
  margin-bottom: 13px;
}

.testimonials-logo-text-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials-name-position {
  margin-top: 40px;
}

.container-clients {
  margin-top: 280px;
}

.clients-title-text {
  display: flex;
  justify-content: space-between;
}

.clients-logo {
  width: 253px;
  margin-top: 0;
}

.clients-text {
  width: 445px;
  margin-top: 17px;
}

.clients-brands {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

footer {
  background: #515151;
  margin-top: 135px;
}

.container-footer {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-logo-menu-form {
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  color: #FFFFFF;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 336px;
}

.footer-menu-href {
  font-family: 'Fira Sans', sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

.footer-forms {
  display: flex;
}

.footer-input {
  width: 140px;
  height: 40px;
  border: 0;
  font-family: 'Fira Sans', sans-serif;
  line-height: 28px;
  font-size: 18px;
  background: #F5F4FF;
  text-indent: 15px;
}

.footer-button {
  width: 80px;
  height: 42px;
  background: #C6B393;
  border: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 4px;
  color: #FFFFFF;
  margin-left: 18px;
}

.footer-divider {
  opacity: 0.2;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  margin-top: 40px;
}

.footer-submenu-social {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}

.footer-submenu {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.footer-submenu-href {
  font-family: 'Fira Sans', sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #FFFFFF;
  opacity: 0.4;
  text-decoration: none;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 120px;
  opacity: 0.4;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) and (max-width: 1200px){
  .container-slider-item2, .loader {
    display: none;
  }

  .video, .video-youtube {
    top: 210px;
    left: 55%;
    transition: 1s;
  }

  .about-title {
    width: 85%;
    margin-top: 0;
  }

  .about-text {
    width: 80%;
  }

  .services-menu-items {
    margin-left: 0;
  }

  .features-text-title, .ultimate-result, .minimal-design {
    margin-left: 50px;
  }

  .features-title, .features-text {
    width: 80%;
    text-align: center;
  }
}

/* Tablet Styles */
@media only screen and (max-width: 960px) {
  .container-slider {
    flex-direction: column;
    margin-bottom: -310px;
  }
  
  .container-slider-item2, .loader {
    display: none;
  }

  .slider-title, .slider-text, .about-text, .services-text {
    width: 100%;
    text-align: center;
  }

  .slider-title-text, .container-about, .services-text-menu, .container-features, .our-works-text-button {
    margin-left: 5%;
    margin-right: 5%;
  }

  .video {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    transition: 1s ease-out;
    margin-top: 50px; 
    width: 300px;
  }

  .video-youtube {
    width: 280px;
    position: relative;
    top: -310px;
    left: 50%;
    transform: translate(-52%);
  }

  .exit-video {
    font-size: 14px;
    width: 100%;
    margin-left: 2px;
  }

  .container-about {
    display: block;
    margin-top: 20px;
  }

  .placeholder-about {
    display: none;
  }

  .about-title {
    width: 100%;
    text-align: center;
  }

  .about-title-text {
    margin-left: 0;
    text-align: center;
  }

  .about-user, .blue-button {
    margin: 40px auto 0 auto;
  }

  .services-text-menu {
    display: block;
  }

  .services-menu-items, .features-text-title {
    margin: 0;
  }

  .menu-item {
    font-size: 14px;
    width: 100%;
  }

  .services-menu {
    margin: 10px auto;
    width: 100%;
    justify-content: center;
  }

  .services-logo, .container-features, .our-works-logo {
    margin-top: 60px;
  }

  .features-placeholder {
    display: none;
  }

  .features-title, .features-text {
    width: 100%;
    text-align: center;
  }

  .ultimate-result, .minimal-design {
    margin: 20px auto 0 auto;
  }

 .our-works-text-button {
    display: block;
    margin-top: 0;
  }
  
  .our-works-switchers, .our-works-placeholder:hover, .our-works-placeholders-2, .our-works-placeholders-1 {
    display: none;
  }

  .our-works-title, .our-works-text, .clients-text {
    text-align: center;
    width: 100%;
  }

  .our-works-button {
    margin: 20px auto 0 auto;
  }

  .our-works-title-switchers {
    margin-bottom: 30px;
  }
  .container-testimonials {
    display: none;
  }

  .container-clients {
    margin-top: 60px;
  }

  .clients-title, .footer-logo, .footer-forms {
    display: none;
  }

  .footer-logo-menu-form {
    justify-content: center;
  }

  .footer-submenu-social {
    flex-direction: column;
    margin: 0;
  }

  .footer-social {
    margin: 20px auto 0 auto;
  }

  .footer-submenu {
    margin: 20px auto 0 auto;
    width: 300px;
  }

  .footer-submenu-href {
    font-size: 16px;
  }

  .container-footer {
    height: 150px;
    margin-top: 50px;
  }

  .footer-divider {
    margin-top: 20px;
  }

  footer {
    margin: 0;
  }

  .container-toggle {
    width: 100%;
    right: -100%;
  }

  .clients-brand {
    width: 10%;
  }

  .clients-brands {
    margin-top: 20px;
  }

  .open-menu {
    right: 0;
  }

}

