.container {
  margin: auto;
  width: 960px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 80px;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  cursor: default;
}

.icon-input {
  position: relative;
  width: 200px;
  height: 24px;
}

.search-icon {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  margin-top: 3px;
  width: 20px;
  height: 20px;
  opacity: 1;
  z-index: 100;
  cursor: pointer;
}

.search-form {
  position: absolute;
  opacity: 0;
  z-index: 99;
}

.search-input {
  border: 2px solid;
  height: 24px;
  border-radius: 5%;
  float: left;
}

.for-form-search {
  opacity: 1;
  z-index: 100;
}

.for-icon-search {
  opacity: 0;
  z-index: 99;
}

.button{
  position: absolute;
  border: 2px solid;
  height: 24px;
  border-radius: 5%;
  margin-left: 2px;
  background-color: white;
  font-weight: bold;
}

.menu {
  width: 34px;
  height: 23px;
  cursor: pointer;
}

.container-toggle {
  position: fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  background-color: black;
  right: -250px;
}

.container-menu {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-href {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.exit-menu {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.open-menu {
  right: 0;
}

.visibility-icon-menu {
  visibility: hidden;
}