.container-header, .container-search, .container-toggle {
  display: flex;
}

.logo {
  width: 74.31px;
  height: 23.18px;
  padding: 59px 0 0 125px;
}

.search-icon {
  width: 20px;
  height: 20px;
  padding: 61px 0 0 500.12px;
}

.menu {
  width: 34px;
  height: 14px;
  padding: 64px 0 0 489.43px;
}

#form {
  display: none;
  padding: 10px 0 0 720px;

}

#toggle {
  display: none;
  height: 700px;
  width: 200px;
  background-color: red;
  margin: 10px 0 0 1010px;
}