.container {
  margin: auto;
  width: 1360px;
}

.container-header, .container-toggle {
  display: flex;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 23.18px;
  padding: 59px 0 0 125px;
}

.icon-input {
  position: relative;
  width: 100px;
  height: 24px;
  padding: 59px 0 0 400.12px;
}

.search-icon {
  position: absolute;
  padding-left: 90px;
  padding-top: 4px;
  width: 20px;
  height: 20px;
  opacity: 1;
}

.search-form {
  position: absolute;
  opacity: 0;
}

.search-input {
  border: 1.6px solid;
  height: 24px;
  border-radius: 5%;
  
}

.menu {
  width: 34px;
  height: 14px;
  padding: 64px 0 0 489.43px;
}

#toggle {
  display: none;
  height: 700px;
  width: 200px;
  background-color: red;
  margin: 10px 0 0 1010px;
}
