.footer-forms {
  display: flex;
}

.footer-input {
  width: 140px;
  height: 40px;
  border: 0;
  font-family: "Fira Sans", sans-serif;
  line-height: 28px;
  font-size: 18px;
  background: #f5f4ff;
  text-indent: 15px;
}

.footer-button {
  width: 80px;
  height: 42px;
  background: #c6b393;
  border: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 4px;
  color: #ffffff;
  margin-left: 18px;
}

@media only screen and (max-width: 960px) {
  .footer-forms {
    display: none;
  }
}
