.clients-title-text {
  display: flex;
  justify-content: space-between;
}

.clients-title {
  width: 473px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  line-height: 50px;
  font-size: 40px;
  letter-spacing: -1px;
  color: #222222;
}

@media only screen and (max-width: 960px) {
  .clients-title {
    display: none;
  }
}
